{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <a href="{{ path('book_view',{id:book.id}) }}">
                            <img src="{{ asset('uploads/images/articles/' ~ book.image) }}" width="400px" height="200px">
                        </a>
                        <h2>{{ book.title }}</h2>
                    </header>
                    <p>
                        Author: {{ book.name }}
                    </p>
                    <p>
                        Short Description: {{ book.description }}
                    </p>
                    <small class="author">
                        Book added by: {{ book.author.fullName }}
                    </small>

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and (app.getUser.isAuthor(book) or app.getUser.isAdmin()  )%}
                                <a class="btn btn-success btn-xs" href="{{ path('book_edit', {id:book.id}) }}">Edit</a>
                                <a class="btn btn-danger btn-xs" href="{{ path('book_delete', {id:book.id}) }}">Delete</a>

                            {% endif %}
                            <a class="btn btn-default btn-xs" href="{{ path('library_index') }}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
                <a class="btn btn-success btn-sm" id="add">Add Comment</a>
                <div id="comment"></div>
            </div>

            <hr/>
            <br/>
            <br/>


            {% for comment in comments %}
            <p>{{ comment.description }}</p>
                <small>Added by: <a href="{{ path('user_profile', {id:comment.author.id}) }}"><p>{{ comment.author.fullName }}</p><img class="img-rounded" src="{{ asset('uploads/images/users/' ~ comment.author.image) }}" width="50px" height="20px"></a></small><br/>
            <small>Added on: {{ comment.dateAdded|date("F jS \\a\\t g:ia") }}</small>
                <hr/>

            {% endfor %}
        </div>
    </div>


    <script>
    $('#add').click(function () {
        $('#comment').empty();
        let commentForm=`
        <form method="post" action="{{ path('comment_create', {id:book.id}) }}">
        <div class="form-group">

                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="description" name="comment[description]"></textarea>
                        <input type="submit" value="Add" class="btn btn-success btn-sm"/>
                        </div>
                    </div>
        </form>
        `;
        $('#comment').append(commentForm);
        $('#comment').toggle();
    })
    </script>
{% endblock %}

